<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="../static/css/font-face.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../static/css/theme.css" rel="stylesheet" media="all">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
    <script type="text/javascript">
         google.charts.load('current', {'packages':['corechart','table']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(googlecharts_is_ready);

        var chart;
        var graphdata;

        function reset_status_messages(){
            $("#status").html("")
        }

        function googlecharts_is_ready(){
            $("#buttonloadchart").show()
            $("#buttonloadchart").click()
            $("#status").html("Google charts is ready")
        }

        function loadChart(){
               getData_and_drawChart()    
        }

        function getData_and_drawChart(){
            getNewData()
            getPHData()
        }
		
		// Retrieve temperature and humidity data from database
        function getNewData(){
            $("#status").html("Fetching data to plot graph...");

            jQuery.ajax({
                url: "/api/getHumidityTempData" ,
                type: 'POST',
                success: function(ndata, textStatus, xhr){ 
                   //console.log(ndata.chart_data)
                    $("#status").html("Data fetched! Now plotting graph!");
                    chartdata = ndata.chart_data
					
					// Draw temperature line graph 
                    temperatureGraphData = createTemperatureDataTable(chartdata)
                    drawTemperatureLineChart(temperatureGraphData)
                    
					// Draw humidity line graph 
					humidityGraphData = createHumidityDataTable(chartdata)
                    drawHumidityLineChart(humidityGraphData)

					$("#status").html("Graph plotted");
                }//end success
            });//end ajax
        } 

        // Retrieve PH data from database
        function getPHData(){
            $("#status").html("Fetching data to plot graph...");

            jQuery.ajax({
                url: "/api/getPHValueData" ,
                type: 'POST',
                success: function(ndata, textStatus, xhr){ 
                   //console.log(ndata.chart_data)
                    $("#status").html("Data fetched! Now plotting graph!");
                    chartdata = ndata.chart_data

                    // Draw PH value line graph 
                    phValueGraphData = createPhValueDataTable(chartdata)
                    drawPHLineChart(phValueGraphData)

                    $("#status").html("Graph plotted");
                }//end success
            });//end ajax
        } 


		// Creating temperature data table with the data 
        function createTemperatureDataTable(newdata){
		
			// Adding the columns in the table
            graphdata = new google.visualization.DataTable();       
            graphdata.addColumn('string', 'Time');
            graphdata.addColumn('number', 'Temperature');
            var newdata = JSON.parse(newdata);

			// Adding the data in the rows
            for (i in newdata) {
                datetime = newdata[i].datetimeID;
                datetime = datetime.substring(0, 19) 
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                temperature = parseInt(newdata[i].value2);
                graphdata.addRows([[jstime,temperature]]);
            }//end for
            return graphdata
        }
		
		// Draw temperature line graph
		function drawTemperatureLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('temperature_chart_div'));		
            chart.draw(graphdata, {title:'Temperature graph', legend: 'none', vAxis: {baseline: 0}, 
                                pointSize: 10, curveType: 'function',colors: ['#0049d1']});
            return 
        } 
		
		// Creating Humidity data table with the data 
		function createHumidityDataTable(newdata){
			
			// Adding the columns in the table
            graphdata = new google.visualization.DataTable();       
            graphdata.addColumn('string', 'Time');
            graphdata.addColumn('number', 'Humidity');
            var newdata = JSON.parse(newdata);
			
			// Adding the data in the rows
            for (i in newdata) {
                datetime = newdata[i].datetimeID;
                datetime = datetime.substring(0, 19) 
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                humidity= parseInt(newdata[i].value);
                graphdata.addRows([[jstime,humidity]]);
            }//end for
            return graphdata
        }
		
		// Draw humidity line graph
		function drawHumidityLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('humidity_chart_div'));

            chart.draw(graphdata, {title:'Humidity graph', legend: 'none', vAxis: {baseline: 0}, 
                                pointSize: 10, colors: ['#00d146'],curveType: 'function'});
            return 
        } //end drawChart


        // Creating ph value data table with the data 
        function createPhValueDataTable(newdata){
                graphdata = new google.visualization.DataTable();
                graphdata.addColumn('string', 'Time');
                graphdata.addColumn('number', 'ph Value');
                var newdata = JSON.parse(newdata);

                for (i in newdata) {
                    datetime = newdata[i].datetimeID;
                    datetime = datetime.substring(0, 19) 
                    jsdatetime = new Date(Date.parse(datetime));
                    jstime = jsdatetime.toLocaleTimeString();
                    ph = parseInt(newdata[i].phVal);
                    graphdata.addRows([[jstime,ph]]);
                }//end for
                return graphdata
            }

        // Draw humidity line graph
        function drawPHLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('phValue_chart_div'));
            chart.draw(graphdata, {title:'PH Value graph',legend: 'none', vAxis: {baseline:0}, 
                pointSize: 10, curveType: 'function',colors: ['#ffff00']});
            return
        }


        // Creating real time data table with the data 
        function realTimeDataTable(newdata){
            
            // Converting data to json
            var newdata = JSON.parse(newdata);
            
            // Adding the data in the rows
            humidity= parseInt(newdata[0].value);
            temperature = parseInt(newdata[0].value2)
            return humidity,temperature
        }

		
		// Get the real time data of the humidity and temperature
        function getDHT(){
            humidity = 0
            temperature = 0
            jQuery.ajax({
                url: "/api/getRealTimeData" ,
                type: 'POST',
                success: function(ndata, textStatus, xhr){ 
                    //For debugging
                    //console.log(ndata.chart_data)

                    humidity,temperature = realTimeDataTable(ndata.chart_data)
				    // insert the data into the html
                    $("#temperatureStatus").html(temperature);
				    $("#humidityStatus").html(humidity);
              }//end success
          });//end ajax
        } //end 

        // Creating real time PH data table with the data 
        function realTimePHDataTable(newdata){
            
            // Converting data to json
            var newdata = JSON.parse(newdata);
            
            // Adding the data in the rows
            PH = parseInt(newdata[0].phVal)
            return PH
        }

        
        // Get the real time data of the humidity and temperature
        function getPH(){
            humidity = 0
            PH = 0
            jQuery.ajax({
                url: "/api/getRealTimePHValue" ,
                type: 'POST',
                success: function(ndata, textStatus, xhr){ 
                    //For debugging
                    //console.log(ndata.chart_data)

                    PH= realTimePHDataTable(ndata.chart_data)
                    // insert the data into the html
                    $("#phValueStatus").html(PH);
              }//end success
          });//end ajax
        } //end 



      $(document).ready(function(){
            reset_status_messages()

            setInterval(function () {
                loadChart()
                getDHT();
                getPH();
                getSchedule();
                getLiquidSchedule();
            }, 2000);
        });



		// Get the pass data of whether the user taken the medicine on time (latest 10 records)
		function getSchedule(){

            jQuery.ajax({
                url: "/api/eatMed" ,
                type: 'POST',
                success: function(ndata, textStatus, xhr){ 
                    //console.log(ndata.chart_data)
                    chartdata = ndata.chart_data
		            graphdata = createTakeMedDataTable(chartdata)
                    drawDataTable(graphdata)
                }//end success
            });//end ajax
			
			
			
          } //end getSchedule

		// Creating the take medicine table 
		function createTakeMedDataTable(newdata){
			
			// Adding the columns
            graphdata = new google.visualization.DataTable();       
            graphdata.addColumn('string', 'Date');
			graphdata.addColumn('string', 'Time');
            graphdata.addColumn('string', 'Taken On Time');
            var newdata = JSON.parse(newdata);
			
			// Adding the data into the rows
            for (i in newdata) {
                datetime = newdata[i].datetimeID;
                datetime = datetime.substring(0, 19) 
                jsdatetime = new Date(Date.parse(datetime));
                time = jsdatetime.toLocaleTimeString();
                date = jsdatetime.toLocaleDateString();
                takenOnTime = newdata[i].takenOnTime;
                graphdata.addRows([[date,time,takenOnTime]]);
            }//end for
            return graphdata
        }	
		
		// Draw out the take medicine table 
        function drawDataTable(graphdata){
            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(graphdata, options);
    
        }//end drawTable
		
		// Adding classes to the take medicine table
		var cssClassNames = {
                    'headerRow': 'cssHeaderRow',
                    'tableRow': 'cssTableRow',
                    'oddTableRow': 'cssOddTableRow',
                    'selectedTableRow': 'cssSelectedTableRow',
                    'hoverTableRow': 'cssHoverTableRow',
                    'headerCell': 'cssHeaderCell',
                    'tableCell': 'cssTableCell',
                    'rowNumberCell': 'cssRowNumberCell'
                };
                
		var options = {
			showRowNumber: true,
			cssClassNames: cssClassNames
		};

        // Get the pass data of whether the user taken the medicine on time (latest 10 records)
        function getLiquidSchedule(){

            jQuery.ajax({
                url: "/api/eatLiquidMed" ,
                type: 'POST',
                success: function(ndata, textStatus, xhr){ 
                    //console.log(ndata.chart_data)
                    chartdata = ndata.chart_data
                    graphdata = createTakeLiquidMedDataTable(chartdata)
                    drawLiquidDataTable(graphdata)
                }//end success
            });//end ajax
            
            
            
          } //end getSchedule

        // Creating the take medicine table 
        function createTakeLiquidMedDataTable(newdata){
            
            // Adding the columns
            graphdata = new google.visualization.DataTable();       
            graphdata.addColumn('string', 'Date');
            graphdata.addColumn('string', 'Time');
            graphdata.addColumn('string', 'Taken On Time');
            var newdata = JSON.parse(newdata);
            
            // Adding the data into the rows
            for (i in newdata) {
                datetime = newdata[i].datetimeID;
                datetime = datetime.substring(0, 19) 
                jsdatetime = new Date(Date.parse(datetime));
                time = jsdatetime.toLocaleTimeString();
                date = jsdatetime.toLocaleDateString();
                takenOnTime = newdata[i].takenOnTime;
                graphdata.addRows([[date,time,takenOnTime]]);
            }//end for
            return graphdata
        }   
        
        // Draw out the take medicine table 
        function drawLiquidDataTable(graphdata){
            var table = new google.visualization.Table(document.getElementById('liquid_table_div'));
            table.draw(graphdata, options);
    
        }//end drawTable
        
 
		
		// Function to alert the user and take a picture 
		function turnon(){
            $.ajax({url: "/api/takePhoto",
                    success: function(result){
			$("#tookPic").html(result);
			setTimeout(function(){ $("#tookPic").html('Alert user');}, 4000);
                     }
                  })
          }


        // Function to update the schedule for pill medicine 
        function pillUpdateSchedule(){
            var number=document.getElementById("pschedule").value;

            $.get('/api/updatePillSchedule', {value: number}, 
                function(returnedData){
                    console.log(returnedData);
                    $("#clickPill").html("Update success");
                    setTimeout(function(){ $("#clickPill").html('click to update');}, 4000);
                     
              });
        }

        // Function to update the schedule for liquid medicine
        function liquidUpdateSchedule(){
            var number=document.getElementById("lschedule").value;

            $.get('/api/updateLiquidSchedule', {value: number}, 
                function(returnedData){
                    console.log(returnedData);
                    $("#clickLiquid").html("Update success");
                    setTimeout(function(){ $("#clickLiquid").html('click to update');}, 4000);
              });
        }

		$(document).ready(function(){
			$("#b1").click(function(){turnon();
		});});

        $(document).ready(function(){
            $("#b2").click(function(){pillUpdateSchedule();
        });});

        $(document).ready(function(){
            $("#b3").click(function(){liquidUpdateSchedule();
        });    

		});

</script>

<style>
<!-- styling of the button --> 
.button {
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {background-color: lightsalmon;} 

.myButton {
color: rgb(255, 255, 255); font-size: 16px; 
line-height: 16px; padding: 6px; 
border-radius: 10px; 
font-family: Georgia, serif; 
font-weight: normal; 
text-decoration: none; 
font-style: normal; 
font-variant: normal; 
text-transform: none;
 background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
 border: 2px solid rgb(28, 110, 164); 
 display: inline-block;
  margin: 4px 2px;
}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }


<!-- styling of the table --> 
.cssHeaderRow {
	background-color: #2A94D6 !important;
}
.cssTableRow {
	background-color: #F0F1F2;

}
.cssOddTableRow {
	background-color: #F0F1F2;
}
.cssSelectedTableRow {
	font-size: 20px;
	font-weight:bold;
}
.cssHoverTableRow {
	background: #ccc;
}
.cssHeaderCell {
	background-color: #2A94D6;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px !important;
	border: solid 1px #FFFFFF;
}
.cssTableCell {
	font-size: 16px;
	padding: 10px !important;
	border: solid 1px #FFFFFF;
}
.cssRowNumberCell {
	text-align: center;
}






</style>
        
</head>

<body class="animsition">
    <div class="page-wrapper">
       

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block" style="background-color:#D1E8E2;">
            <div class="logo" style="background-color:#116466;">
                <a href="#">
                    <img src="../static/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop" style="background-color:#116466;">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity">1</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have 2 news message</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="../static/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>Michelle Moreno</h6>
                                                    <p>Have sent a photo</p>
                                                    <span class="time">3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="../static/images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>Diane Myers</h6>
                                                    <p>You are now connected on message</p>
                                                    <span class="time">Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="../static/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="../static/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="../static/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="../static/images/useraccount.png" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#" style="color:white">Wong Shu Zhi</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="../static/images/useraccount.png" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Wong Shu Zhi</a>
                                                    </h5>
                                                    <span class="email">shuzhi@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-25">
						
							<!-- Real time data of the temperature -->
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-sun"></i>
                                            </div>
                                            <div class="text">
                                                <h2 id="temperatureStatus"></h2>
                                                <span >Temperature</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							
							<!-- Real time data of the humidity -->
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-cloud"></i>
                                            </div>
                                            <div class="text">
                                                <h2 id="humidityStatus"></h2>
                                                <span>Humidity</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							
                            <!-- Real time data of the PH of medicine -->
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-ruler"></i>
                                            </div>
                                            <div class="text">
                                                <h2 id="phValueStatus"></h2>
                                                <span>PH Value</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


							<!-- Alert button -->
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-alert-triangle"></i>
                                            </div>
                                            <div class="text">
												<button class="button button5" id="b1">Turn on</button>
												<br>
												<span id="tookPic">Alert</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <br>

                            <!-- Getting the medicine time -->
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c5">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                           <!--  <div class="icon">
                                                <i class="zmdi zmdi-alarm"></i>
                                            </div> -->
                                            <div class="text">
                                                <input type="text" id="pschedule" name="pschedule" value="00:00:00" style="margin-bottom: 1em;">
                                                <span >Pill med schedule</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c5">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <!-- <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
 -->                                        <div class="text">
                                                <button class="myButton" id="b2">Update Schedule</button>
                                                <br>
                                                <span id="clickPill">click to update</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c5">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <!-- div class="icon">
                                                <i class="zmdi zmdi-alarm"></i>
                                            </div> -->
                                            <div class=" text">
                                                <input type="text" id="lschedule" name="lschedule" value="00:00:00" style="margin-bottom: 1em;">
                                                <span >Liquid med schedule</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c5">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <!-- <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div> -->
                                            <div class="text">
                                                <button class="myButton" id="b3">Update Schedule</button>
                                                <br>
                                                <span id="clickLiquid">click to update</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
						
                        <br>

                        


						<!-- Line chart -->
						<div id="temperature_chart_div" style="width:100%"></div>
						<br>
						<div id="humidity_chart_div" style="width:100%"></div>
						<br>	
                        <div id="phValue_chart_div" style="width:100%"></div>
                        <br>				
                        <div class="row">
                            <div class="col-lg-9">
								<br>
                                <h2 class="title-1 m-b-25">Patient Pill Medicine Schedule</h2>
                                
                            </div>
                        </div>
						<!-- Table of the take medicine -->
                        <div id="table_div" style="width:100%"></div>

                        <div class="row">
                            <div class="col-lg-9">
                                <br>
                                <h2 class="title-1 m-b-25">Patient Liquid medicine Schedule</h2>
                                
                            </div>
                        </div>
                        <!-- Table of the take medicine -->
                        <div id="liquid_table_div" style="width:100%"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="../static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../static/vendor/slick/slick.min.js">
    </script>
    <script src="../static/vendor/wow/wow.min.js"></script>
    <script src="../static/vendor/animsition/animsition.min.js"></script>
    <script src="../static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../static/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="../static/js/main.js"></script>

</body>

</html>
<!-- end document-->
